.controls {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .controls-switch {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
}